<a href="https://colab.research.google.com/github/Irisrangel/novo4522/blob/master/Spark_e_PySpark_Pyspark_Opera%C3%A7%C3%B5es_B%C3%A1sicas_com_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
df = spark.read.json("/home/leonardo/4522/funcionarios.json")

In [ ]:
df.show()

+---------+----------------+-------+---------------+-------+
|    cargo|    departamento|id_func|           nome|salario|
+---------+----------------+-------+---------------+-------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|
| Analista|        Projetos|     11|     Carla Neto|   4000|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|
+---------+----------------+-------+---------------+-------+

In [ ]:
df.printSchema()

root
 |-- cargo: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- id_func: long (nullable = true)
 |-- nome: string (nullable = true)
 |-- salario: long (nullable = true)

In [ ]:
df.columns

['cargo', 'departamento', 'id_func', 'nome', 'salario']

In [ ]:
df.describe

In [ ]:
df.show()

+---------+----------------+-------+---------------+-------+
|    cargo|    departamento|id_func|           nome|salario|
+---------+----------------+-------+---------------+-------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|
| Analista|        Projetos|     11|     Carla Neto|   4000|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|
+---------+----------------+-------+---------------+-------+

In [ ]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [ ]:
data_schema = [StructField("cargo", StringType(),
True),StructField("departamento", StringType(),
True),StructField("id_func", IntegerType(),
True),StructField("nome", StringType(),
True),StructField("salario", IntegerType(), True)]

In [ ]:
final_struc = StructType(fields=data_schema)

In [ ]:
df = spark.read.json('/home/leonardo/4522/funcionarios.json', schema=final_struc)

In [ ]:
df.printSchema()

root
 |-- cargo: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- id_func: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- salario: integer (nullable = true)

In [ ]:
df['nome']

Column<b'nome'>

In [ ]:
type(df['nome'])

pyspark.sql.column.Column

In [ ]:
df.select('nome')

DataFrame[nome: string]

In [ ]:
df.select('nome').show()

+---------------+
|           nome|
+---------------+
|  Marcio Santos|
|   Bruno Garcia|
|    Celia Silva|
|   Beatriz Dias|
| Sandro Correia|
|   Leticia Dias|
|   Cacio Farias|
|     Cezar Maia|
|   Amanda Nunes|
|   Paula Priore|
|     Carla Neto|
|   Marcia Costa|
|  Luciana Prado|
| Roberta Amaral|
|Rogerio Ribeiro|
|   Rosana Rocha|
|Claudio Queiroz|
|   Diego Chaves|
|Sergio Nogueira|
|  Samantha Reis|
+---------------+

In [ ]:
df.head(5)

[Row(cargo='Analista', departamento='Projetos', id_func=1, nome='Marcio Santos', salario=5000),
 Row(cargo='Instrutor', departamento='Treinamento', id_func=2, nome='Bruno Garcia', salario=4000),
 Row(cargo='Vendedora', departamento='Vendas', id_func=3, nome='Celia Silva', salario=3500),
 Row(cargo='Gerencia', departamento='Recursos Humanos', id_func=4, nome='Beatriz Dias', salario=5500),
 Row(cargo='Instrutor', departamento='Treinamento', id_func=5, nome='Sandro Correia', salario=4200)]

In [ ]:
df.select(['nome','departamento'])

DataFrame[nome: string, departamento: string]

In [ ]:
df.select(['nome','departamento']).show()

+---------------+----------------+
|           nome|    departamento|
+---------------+----------------+
|  Marcio Santos|        Projetos|
|   Bruno Garcia|     Treinamento|
|    Celia Silva|          Vendas|
|   Beatriz Dias|Recursos Humanos|
| Sandro Correia|     Treinamento|
|   Leticia Dias|        Projetos|
|   Cacio Farias|        Projetos|
|     Cezar Maia|   Administracao|
|   Amanda Nunes|          Vendas|
|   Paula Priore|          Vendas|
|     Carla Neto|        Projetos|
|   Marcia Costa|          Vendas|
|  Luciana Prado|Recursos Humanos|
| Roberta Amaral|          Vendas|
|Rogerio Ribeiro|     Treinamento|
|   Rosana Rocha|          Vendas|
|Claudio Queiroz|        Projetos|
|   Diego Chaves|   Administracao|
|Sergio Nogueira|     Treinamento|
|  Samantha Reis|          Vendas|
+---------------+----------------+

In [ ]:
df.show()

+---------+----------------+-------+---------------+-------+
|    cargo|    departamento|id_func|           nome|salario|
+---------+----------------+-------+---------------+-------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|
| Analista|        Projetos|     11|     Carla Neto|   4000|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|
+---------+----------------+-------+---------------+-------+

In [ ]:
df.withColumn('gratificacao',df['salario']).show()

+---------+----------------+-------+---------------+-------+------------+
|    cargo|    departamento|id_func|           nome|salario|gratificacao|
+---------+----------------+-------+---------------+-------+------------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|        5000|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|        4000|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|        3500|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|        5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|        4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|        5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|        5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|        7000|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|        3500|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|        3500|
| Analista|        Projetos|     11|     Carla Neto|   4000|        4000|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|        2700|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|        4100|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|        2800|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|        4000|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|        3000|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|        6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|        7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|        5300|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|        4000|
+---------+----------------+-------+---------------+-------+------------+

In [ ]:
df.withColumnRenamed('id_func','id').show()

+---------+----------------+---+---------------+-------+
|    cargo|    departamento| id|           nome|salario|
+---------+----------------+---+---------------+-------+
| Analista|        Projetos|  1|  Marcio Santos|   5000|
|Instrutor|     Treinamento|  2|   Bruno Garcia|   4000|
|Vendedora|          Vendas|  3|    Celia Silva|   3500|
| Gerencia|Recursos Humanos|  4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|  5| Sandro Correia|   4200|
| Analista|        Projetos|  6|   Leticia Dias|   5100|
| Analista|        Projetos|  7|   Cacio Farias|   5100|
| Gerencia|   Administracao|  8|     Cezar Maia|   7000|
|Vendedora|          Vendas|  9|   Amanda Nunes|   3500|
|Vendedora|          Vendas| 10|   Paula Priore|   3500|
| Analista|        Projetos| 11|     Carla Neto|   4000|
|Vendedora|          Vendas| 12|   Marcia Costa|   2700|
| Analista|Recursos Humanos| 13|  Luciana Prado|   4100|
|Vendedora|          Vendas| 14| Roberta Amaral|   2800|
|Instrutor|     Treinamento| 15|Rogerio Ribeiro|   4000|
|Vendedora|          Vendas| 16|   Rosana Rocha|   3000|
| Analista|        Projetos| 17|Claudio Queiroz|   6500|
| Gerencia|   Administracao| 18|   Diego Chaves|   7500|
|Instrutor|     Treinamento| 19|Sergio Nogueira|   5300|
|Vendedora|          Vendas| 20|  Samantha Reis|   4000|
+---------+----------------+---+---------------+-------+

In [ ]:
df.withColumn('gratificacao',df['salario']/2).show()

+---------+----------------+-------+---------------+-------+------------+
|    cargo|    departamento|id_func|           nome|salario|gratificacao|
+---------+----------------+-------+---------------+-------+------------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|      2500.0|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|      2000.0|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|      1750.0|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|      2750.0|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|      2100.0|
| Analista|        Projetos|      6|   Leticia Dias|   5100|      2550.0|
| Analista|        Projetos|      7|   Cacio Farias|   5100|      2550.0|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|      3500.0|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|      1750.0|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|      1750.0|
| Analista|        Projetos|     11|     Carla Neto|   4000|      2000.0|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|      1350.0|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|      2050.0|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|      1400.0|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|      2000.0|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|      1500.0|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|      3250.0|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|      3750.0|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|      2650.0|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|      2000.0|
+---------+----------------+-------+---------------+-------+------------+

In [ ]:
df.show()

+---------+----------------+-------+---------------+-------+
|    cargo|    departamento|id_func|           nome|salario|
+---------+----------------+-------+---------------+-------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|
| Analista|        Projetos|     11|     Carla Neto|   4000|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|
+---------+----------------+-------+---------------+-------+

In [ ]:
df.createOrReplaceTempView("funcionarios")

In [ ]:
sql_results = spark.sql("SELECT * FROM funcionarios")

In [ ]:
sql_results

DataFrame[cargo: string, departamento: string, id_func: int, nome: string, salario: int]

In [ ]:
sql_results.show()

+---------+----------------+-------+---------------+-------+
|    cargo|    departamento|id_func|           nome|salario|
+---------+----------------+-------+---------------+-------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|
| Analista|        Projetos|     11|     Carla Neto|   4000|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|
+---------+----------------+-------+---------------+-------+

In [ ]:
spark.sql("SELECT * FROM funcionarios WHERE salario=5100").show()

+--------+------------+-------+------------+-------+
|   cargo|departamento|id_func|        nome|salario|
+--------+------------+-------+------------+-------+
|Analista|    Projetos|      6|Leticia Dias|   5100|
|Analista|    Projetos|      7|Cacio Farias|   5100|
+--------+------------+-------+------------+-------+